<p class="large">
	<span class="status">
		{% if allday %}
			Booked all day:
		{% else %}
			Booked from {{ event.dtstart.dt|date:"H:i" }} until {{ event.dtend.dt|date:"H:i" }}:
		{% endif %}
	</span>
	<span class="summary">{{ event.summary }}</span>
</p>
<p class="details">
	Booking was created {{ event.created.dt|date:"r" }} and was last modified {{ event.last_modified.dt|date:"r" }}
</p>
{% if event.organizer %}
	<p class="details">
		Booked by {{ event.organizer|slice:"7:" }}
	</p>
{% endif %}