{% extends "location_booking/base.html" %}
{% block title %}{{ location.title }}{% endblock %}
{% block content %}
	<body class="{% if is_occupied %}occupied{% else %}free{% endif %}">
		<h1 class="location">{{ location.title }}</h1>
		{% for event in allday_events %}
			{% with allday=True %}
				<section class="booked event allday">{% include "location_booking/booking_section.html" %}</section>
			{% endwith %}
		{% endfor %}
		{% for event in regular_events %}
			{% with allday=False %}
				<section class="booked event regular">{% include "location_booking/booking_section.html" %}</section>
			{% endwith %}
		{% endfor %}
		{% if minutes_left %}
			<p class="timing">
				{% if is_occupied %}
					{{ minutes_left }} minutes left of the current booking.
				{% else %}
					{{ minutes_left }} minutes left until next booking begins.
				{% endif %}
			</p>
			{% endif %}
	</body>
{% endblock %}