{% load staticfiles %}<!DOCTYPE html>
<html>
	<head>
		<title>Info Screen</title>
		<link rel="stylesheet" href="{% static "infoscreen/css/base.css" %}" />
		<script src="{% static "infoscreen/js/jquery-1.11.0.js" %}"></script>
		<script src="{% static "infoscreen/js/base.js" %}"></script>
		<link rel="shortcut icon" sizes="196x196" href="{% static "infoscreen/img/icon-196.png" %}">
		<link rel="shortcut icon" sizes="128x128" href="{% static "infoscreen/img/icon-128.png" %}">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="mobile-web-app-capable" content="yes">
		{% block head %}{% endblock %}
	</head>
	
	<body>
	{% block content %}{% endblock %}
	</body>
</html>
